<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Parametrización para la Base de Datos-->
    <add key="con" value="Data Source=UIO-ID-AB\SQLSERVER;Initial Catalog=Base_gerente;Persist Security Info=True;User ID=sa;Password=Manager123"/>
    <!--<add key="con" value="Data Source=10.22.32.77;Initial Catalog=Base_gerente;Persist Security Info=True;User ID=nuo;Password=Nuo2015"/>-->
    <add key="usuarioWSSap" value="usernuo"/>
    <!--<add key="claveWSSap" value="Us3rNu06756."/>-->
    <add key="claveWSSap" value="Nuo2016"/>
    <add key="FTPclave" value="1nv3nt4r10."/>
    <add key="FTPusuario" value="inventario"/>
    <add key="FTPpath" value="ftp://10.22.32.77//NUO/GERENTES/"/>
    <add key="FTPdisk" value="Z:"/>    
    <add key="FTPpathLocal" value="C://Reporte//Gerentes"/>
    <add key="prefijoExtractor" value="E3SXCONT"/>
    <add key="prefijoProyeccion" value="E3SXPRJCERUSR"/>
    <!--VENTAS CONFIGURACION-->
    <add key="prefijoVentas" value="VENTAS_ACUM_GER_"/>
    <add key="PathServerSQL" value="C://Reporte//Gerentes//SQLServer//format//"/>
    <add key="timeout" value="1000"/>
    <add key="dir_bat1" value="D:\NUO\Desarrollo\2018\Coorporación_Rosado\Gerentes\Programa\DEMONIO_GERENTE\DEMONIO_GERENTE\bin\Debug\DEMONIO_GERENTE.exe"/>
    <add key="dir_bat2" value="D:\NUO\Desarrollo\2018\Coorporación_Rosado\Gerentes\Programa\DEMONIO_GERENTE\DEMONIO_GERENTE\bin\Debug\"/>
    <!--<add key="WS_CENTROS.SI_Centro_OUT_SYNC" value="http://piqas.elrosado.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_KIOSKO_TIENDA_PIQ&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Centro_OUT_SYNC&amp;interfaceNamespace=urn:elrosado.com:nuo:kioskoTienda:centro"/>-->
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="6000000"/>
    <compilation debug="false" targetFramework="4.5"/>
    <globalization culture="es-US" uiCulture="es-US"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>